.title-purpose{
    font-size: 1.30em;
    font-weight: bold;
}

.body-review{
    background-color: white;
    width: 986px;
    margin: auto;
    border: solid 1px #cbc1c1;
    padding: 10px;
}

.review-detail{
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 50px;
}

.mg-top-40{
    margin-top: 40px;
}

.mg-top-20{
    margin-top: 20px;
}

.checkAnswer{
    border: solid 1px #cbc1c1;
    /* width: 100%; */
    background-color: #f2f2f2;
    padding: 10px;
    /* display: inline; */
    
}

.icon-check-answer{
    width: 25px;
    margin: 0px 10px;
}

.th-rate{
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 20px;
}

.icon-rate{
    width: 20px;
}

.rate-area{
    width: 100%;
    border: 1px solid #cbc1c1;
    border-collapse: collapse;
}
.btn-icon{
    width: 100%;
    border: solid 1px;
    border-radius: 0;
    background: none;
}

.btn-icon:hover{
    background: #00a680;
}

/* .btn-icon:focus{
    background: #00a680;
} */

.col-3{
    padding-right: 15px !important;
}

.optional{
    font-size: 0.75em;
}

.btn-photo{
    background-color: #00a680;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
}
/* 
* {
    box-sizing: border-box;
} */
/* 
body {
    margin: 0;
    font-family: Arial;
} */

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column .img-detail {
    opacity: 0.8; 
    cursor: pointer; 
    
}
.img-detail{
    width: 100%;
    max-height: 147px;
}

.show-img{
    width: 100%;
    height: auto;
}

.column .img-detail:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.img-page {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.bg-button-icon{
    background-color:  #00a680;
}

.input-reply-comment{
    border-radius: 15px;
    border: 1px solid #00a680;
}

.comment-reply{
    border-radius: 20px;
    background-color: #d4edda;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.btn-like{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #fff;
    background:#e1bfc2;
    border: none;
}
.btn-like:hover{
    background-color: #9b59b6;
}
.btn-like-active{
    background-color: #9b59b6;
}

.icon-like{
    color: #9b59b6;
}

.modal-comment {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-modal{
    float: left;
}



