.title-purpose{
    font-size: 1.30em;
    font-weight: bold;
}

.body-review{
    background-color: white;
    width: 986px;
    margin: auto;
    border: solid 1px #cbc1c1;
    padding: 10px;
}

.review-detail{
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 50px;
}

.mg-top-40{
    margin-top: 40px;
}

.mg-top-20{
    margin-top: 20px;
}

.checkAnswer{
    border: solid 1px #cbc1c1;
    /* width: 100%; */
    background-color: #f2f2f2;
    padding: 10px;
    /* display: inline; */
    
}

.icon-check-answer{
    width: 25px;
    margin: 0px 10px;
}

.th-rate{
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 20px;
}

.icon-rate{
    width: 20px;
}

.rate-area{
    width: 100%;
    border: 1px solid #cbc1c1;
    border-collapse: collapse;
}
.btn-icon{
    width: 100%;
    border: solid 1px;
    border-radius: 0;
    background: none;
}

.btn-icon:hover{
    background: #00a680;
}

/* .btn-icon:focus{
    background: #00a680;
} */

.col-3{
    padding-right: 15px !important;
}

.optional{
    font-size: 0.75em;
}

.btn-photo{
    background-color: #00a680;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
}
/* 
* {
    box-sizing: border-box;
} */
/* 
body {
    margin: 0;
    font-family: Arial;
} */

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column .img-detail {
    opacity: 0.8; 
    cursor: pointer; 
    
}
.img-detail{
    width: 100%;
    max-height: 147px;
}

.show-img{
    width: 100%;
    height: auto;
}

.column .img-detail:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.bg{
    background-color:  #00a680;
}

