.header{
	width: 100%;
	height: 60px;
	background-color: #00a680;
	margin: 0px;
	padding: 0px;
}

.header-content{
	margin: 0 35px;
	padding: 0 24px;
	height: 60px;
}

.header-left{
	float: left;
	width: 50%;
	padding: 0px;
	margin: 0px;
	height: 60px;
}

.header-right{
	float: right;
	width: 50%;
	height: 60px;

}

.icon-header{
	height: 60px;
}

.search-btn{
	float: right;
	background-color: #fff;
	border: solid 1px #e5e5e5;
	border-radius: 2px;
	color: #b7b7b7;
	width: 158px;
	height: 34px;
	text-align: left;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	margin-top: 12px;
}